legacy-peer-deps=true
registry=https://nexus.services.mts.ru/repository/npm-all/
@cashback:registry=https://gitlab.services.mts.ru/api/v4/packages/npm/
@mts-ds:registry=https://artifactory.mts.ru/artifactory/api/npm/web-designsystem-npm-local/
strict-ssl=false
always-auth=true
